@font-face {
    font-family:"Roboto";
    src: url("Roboto-Bold.ttf") format("truetype");
}
body {
    margin:0; 
    padding:0; 
    background-color:rgb(77, 77, 77); 
    display:grid; 
    grid-template-columns: 33% 33% 33%; 
    font-family: 'Roboto', sans-serif;
}
canvas {
    margin:0; 
    padding:0; 
    grid-column-start: 2;
    position:relative; 
    margin-left: auto;
    margin-right:auto; 
}
h1,h2,h3,h4 {
    text-align: center;
}
p,span,h1,h2,h3,h4,label {
    color:white; 
}
.left-content {
    margin:0; 
    padding:0; 
    grid-column-start: 1;
    position:relative; 
}
.right-content {
    margin:0; 
    padding:0; 
    grid-column-start: 3;
    position:relative; 
}

.default-button-style, input {
    padding:5px; 
    margin:5px; 
    border-radius: 3px;
    border:none; 
    color:white;
    background-color: rgb(37, 92, 61);
    font-size: 14px;
    font-weight: bold;
    padding: 16px 16px; 
    cursor: pointer;
    transition:ease-in-out 300ms; 
}
.default-button-style:hover {
    background-color: rgb(66, 156, 105);
}
.modal-start-hidden {
    display:none;
}
.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-start-closed {
    display:none;
}
.modal-content {
    display: block;
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color:#3a3a3a;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.modal-close-button {
    margin-left:100%;   
    border:none; 
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0);
    color: white;
    float: right;
    font-size: 18px;    
    font-weight: bold;
}
.dice-text {
    text-align:center;
    font-size: 32px;
    margin:0;
}
.radio-container {
    display:inline-block;
    position:relative;
    cursor:pointer;
    user-select: none;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.radio-container input {
    display:none;
}
.radio-container .radio-circle {
    display:inline-block;
    width:25px;
    height:25px;
    background-color:#eee;
    position: absolute;
    left:0;
    top:0;
    border-radius: 50%;
}
.radio-container:hover .radio-circle {
    background-color:#ccc;
}
.radio-container input:checked + .radio-circle {
    background-color:rgb(37, 92, 61);
}

.radio-container input:checked + .radio-circle:after {
    content:"";
    height: 10px;
    width: 10px;
    background-color:white;
    position: absolute;
    border-radius: 50%;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

#waiting-for-player-text {
    color:white;
}

.panel {
    background-color:#3a3a3a;
    margin: 5px;
    padding:15px;
    float:right;
    border-radius: 7px;
    border: 2px solid rgb(37, 92, 61);
    position:relative; 
}
.special-case-panel p {
    margin: 0;
}
.special-case-panel {
    background-color:#3a3a3a;
    display:inline-block;
    margin: 5px;
    padding:15px;
    border-radius: 7px;
    border: 2px solid rgb(37, 92, 61);
    position:relative; 
    animation: fadeInAndOut ease 3s;
}

@keyframes spin {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
@keyframes fadeInAndOut {
    0% {
      opacity:0;
    }
    10% {
        opacity: 1;
    }
    66% {
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.special-case-loading-wheel::before {
    animation: 2s linear infinite spin;
    animation-play-state: inherit;
    border: solid 3px #ffffff;
    border-bottom-color: rgb(37, 92, 61);
    border-radius: 50%;
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top: 15px;
    right: 0%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}
#special-case-container {
    float:right; 
    display:flex; 
    flex-direction: column;
    align-items: flex-end;
}
#dice-panel {
    display: none;
}
#dice-panel-roll-dice-button {
    margin-left: auto;
    margin-right: auto;
    display:block;
}
#roll-dice-offline {

}

